
.sub-mega-menu{
    background-color: #fff;
    width: 200px;
    transition: .3s;
    position: absolute;
    top: 0;
    right: -205px;
    visibility: hidden;
    padding: 0px 5px;
}   

.angle-icon{
    visibility: hidden;
    transition: .2s;
}

.main-mega-menu:hover .angle-icon{
    visibility: visible;
}

.main-mega-menu:hover .sub-mega-menu{
    visibility: visible;
}